*{
    margin: 0;
}

html {
  scroll-behavior: auto;
}

a{
  text-decoration: none;
  color: black;
}

section{
  width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 9vh;
  box-sizing: border-box;
}
/* header */
.header {
  position: fixed;
  z-index: 999999999999999;
  height: 5vh;
  width: 97vw;
  font-family: "inter";
  font-weight: 300;
  font-size: 12px;
  display: flex;
  gap: 28px;
  margin-left: 1vw;
  background-color: white;
  align-items: center;
}

.yaw{
  margin-left: 10px;
  margin-right: auto;
}

.h3,
.h2,
.h1 {
  text-align: left;
}


/* section */



.etoile{
  grid-row: 3/7;
  grid-column: 11/14;
  width: 100%;
  height: 100%;
  object-fit: cover ;
}


.sec1 {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: repeat(15, 1fr);
  column-gap: 20px;
  row-gap: 48px;
  margin: 0 20px;
  width: 96%;
}


.s1h1{
 grid-column: 1/10;
  grid-row: 2/6;
  font-family: 'Impact', sans-serif;
  font-weight: 300;
  font-size: 16vw;
  margin: 17px -10px;
  display: flex;
  justify-content: start;
  align-items: start;
  
}

.sec1p1{
  font-family: "inter";
  grid-column: 1/5;
  grid-row: 2;
  font-size: 12px;
  font-weight: 300;
  line-height: 1.6;
  text-transform: uppercase;
}

.sec1p2{
  font-family: 'Impact', sans-serif;
  grid-column: 1/15;
  grid-row: 1;
  font-size: 16vw;
  font-weight: 300;
}

.sec1p3{
  font-family: "inter";
  grid-column: 6/10;
  grid-row: 2;
  font-size: 12px;
  font-weight: 300;
  line-height: 1.6;
  text-transform: uppercase;
}

.sec1p4{
  font-family: "inter";
  font-size: 12px;
  font-weight: 300;
  line-height: 1.6;
  grid-row: 3;
  grid-column: 1/5;
  text-transform: uppercase;
}

.sec1p5{
  font-family: "inter";
  font-size: 13px;
  font-weight: 300;
  grid-row: 7/8;
  grid-column: 1/6;
   display: flex;
  justify-content: start;
  align-items: center;
}


.b1{
  grid-row:6 ;
  grid-column: 1/6;
  border-top: solid black 1px;
}

.b2{
  grid-row:7 ;
  grid-column: 1/6;
  border-top: solid black 1px;
}

.b3{
  grid-row:8;
  grid-column: 1/6;
  border-top: solid black 1px;
}


.vid1{
  grid-column:14/16 ;
  grid-row:8/12 ;
  object-fit: cover;
  height: 100%;
  width: 100%;
}